.parallax-layout
  .inner-parallax-images
.modal
  .modal-dialog 
    img(src=image_path + "pop-up-2.png", alt="")
.container 
  .content(data-attr="content")
    .heading 
      img(src= image_path + "h1.png", alt="")
    .subheading
      img(src= image_path + "h2.png", alt="")
    .wheel-container(data-attr="wheel-container")
      .wheel(data-attr="wheel")
        img.anim-rotation-in(src=image_wheel + "11-2.png", alt="" data-attr="wheel-layot")
        img.anim(src=image_wheel + "21-2.png", alt="")
        img.anim-rotation-out(src=image_wheel + "61.png", alt="", data-attr="light")
        img.arrow(src=image_wheel + "41-2.png", alt="")
        img.anim(src=image_wheel + "51-2.png", alt="")